@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'LabGrotesque-Light';
  src: url('fonts/LabGrotesque-Light.eot'),
  	   url('fonts/LabGrotesque-Light.woff'),
  	   url('fonts/LabGrotesque-Light.woff2');
}

@font-face {
  font-family: 'LabGrotesque-Medium';
  src: url('fonts/LabGrotesque-Medium.eot'),
  	   url('fonts/LabGrotesque-Medium.woff'),
  	   url('fonts/LabGrotesque-Medium.woff2');
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100000;
	background: #d4d5d8;
	background-size: 100px auto;
}

.transition {
	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.transition-600 {
	-webkit-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-ms-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.center-y {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.center-xy {
	position: relative;
	top: 50%;
  left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.rotate-45 {
  transform: rotate(45deg);
}

body {
  color: #000000;
  font-family: DINCondensed-Bold;
  background: #d4d5d8;
}
.site {

}

.site-content {

}

input,
textarea {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:focus {
	color: #353535 !important;
}

.row-tablet-cancel {
    margin: 0 -15px;
}



.search input {
	background: transparent;
	background-image: url(/assets/mili/search-icon.png);
	background-position: 32px 32px;
	background-repeat: no-repeat;
	background-size: 22px auto;
	border: none;
	color: #353535;
	font-family: 'LabGrotesque-Light';
	font-size: 30px;
	height: 60px;
	letter-spacing: 0.25px;
	line-height: 36px;
	margin: 0;
	outline: none;
	padding: 28px 0 0 86px;
	width: 100%;
}


/*TEXT ---------------------------------*/
.heading-bigger {
  font-family: DINCondensed-Bold;
  font-size: 155px;
  color: #5147FF;
  letter-spacing: 89.7px;
  line-height: 153px;
  text-transform: uppercase;
}
.project-title {
  font-size: 23px;
  letter-spacing: 0.92px;
  line-height: 23px;
  margin-bottom: 6px;
  max-width: 183px;
  color: #171717;
}
.project-text {
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 12px;
  color: #444444;
  letter-spacing: 0.53px;
  max-width: 286px;
}
.project-num,
.project-count {
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 10px;
  color: #444444;
  letter-spacing: 0.57px;
}
.project-count {
  text-align: right;
}

@media (max-width: 991px) {
  .heading-bigger {
    font-family: DINCondensed-Bold;
    font-size: 120px;
    color: #5147FF;
    letter-spacing: 60px;
    line-height: 120px;
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
}
/*COLORS ---------------------------------*/

.color-black {
	color: #000000;
}

.breadcrumbs span {
	color: #ffd2cf;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
    margin-right: 6px;
}
.breadcrumbs a {
	padding: 0;
}
.breadcrumb-text {
	color: #353535;
	display: inline-block;
 	font-family: 'LabGrotesque-Light';
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	position: relative;
}
.link {
	color: #353535;
	display: inline-block;
 	font-family: 'LabGrotesque-Medium';
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	position: relative;
	padding-right: 25px;
}

.link-text {
	color: #353535;
	display: inline-block;
 	font-family: 'LabGrotesque-Medium';
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	position: relative;
}


.link .sprite-arrow {
	background-image: url(/assets/mili/right-pink-arrow.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 18px auto;
	display: inline-block;
	height: 13px;
	margin-left: 5px;
	vertical-align: middle;
	width: 18px;
	position: absolute;
	top: 2px;
	right: 0;
}
.link:hover .sprite-arrow {
	right: -10px;
}

.link .sprite-arrow-right-min {
	background-image: url(/assets/mili/right-arrow-min.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5px auto;
	display: inline-block;
	height: 15px;
	margin-left: 5px;
	vertical-align: middle;
	width: 10px;
	position: absolute;
	top: 2px;
	right: 0;
}
.link:hover .sprite-arrow-right-min {
	right: -5px;
}

.link-to-this {
	padding-right: 17px;
}

.pink-btn {
	background: #ffedec;
	border: none;
	color: #353535;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 500;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}
.pink-btn:hover, .pink-btn:active {
	background: #ffe0df;
}
.gray-btn {
	background: #ececed;
	border: none;
	color: #353535;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 500;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}

.white-btn {
	background: #fff;
	border: none;
	color: #353535;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 500;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}

.pleca {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 15px;
}

.pleca.pink {
	background: #ffd2cf;
}
.item .wishlist-btn + a.before::before {
	content:"";
	height: 262px;
	width: calc(100% - 30px);
	position: absolute;
	top: 0;
	left: 15px;
	background: white;
	z-index: 9999;
	opacity: 0;
	-webkit-transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-ms-transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

}
.item .wishlist-btn + a.before.pink::before {
	content:"";
	height: 262px;
	width: calc(100% - 30px);
	position: absolute;
	top: 0;
	left: 15px;
	background: #ffedec;
	z-index: 9999;
	opacity: 1;
}


.item {
	margin-bottom: 47px;
	position: relative;
}

.item img {
	position: relative;
	height: auto;
	margin-bottom: 15px;
	width: 100%;
}

.item .wishlist-btn {
    cursor: pointer;
    height: 18px;
    margin-top: 19px;
    opacity: 0;
    position: absolute;
    right: 36px;
    width: 22px;
    z-index: 1;
}

.item .wishlist-btn .sprite-wishlist {
	background-image: url(/assets/mili/heart-icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 22px auto;
	height: 21px;
	display: block;
	width: 22px;
}
.item .wishlist-btn .sprite-wishlist:hover, .item .wishlist-btn.active .sprite-wishlist  {
	background-image: url(/assets/mili/heart-icon-hover.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 22px auto;
	height: 21px;
	display: block;
	width: 22px;
}
.item:hover .wishlist-btn, .wishlist-btn.active {
	opacity: 1;
}


.wishlist-btn {
	cursor: pointer;
	height: 18px;
	margin-top: 28px;
	opacity: 0;
	position: absolute;
	right: 44px;
	width: 22px;
}

.wishlist-btn .sprite-wishlist {
	background-image: url(/assets/mili/heart-icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 22px auto;
	height: 21px;
	display: block;
	width: 22px;
}
.wishlist-btn .sprite-wishlist:hover,
.wishlist-btn.active .sprite-wishlist  {
	background-image: url(/assets/mili/heart-icon-hover.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 22px auto;
	height: 21px;
	display: block;
	width: 22px;
}
.wishlist-btn.active {
	opacity: 1;
}
section.product-detail .wishlist-btn {
	top: 15px;
	left: 15px;
}

section.product-detail .wishlist-btn .sprite-wishlist {
	background-image: url(/assets/mili/heart-icon-detail.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 23px auto;
	height: 23px;
	width: 25px;
	display: block;
}
section.product-detail .wishlist-btn .sprite-wishlist:hover,
section.product-detail .wishlist-btn.active .sprite-wishlist  {
	background-image: url(/assets/mili/heart-icon-detail-hover.png);
}

.item .tag-brush {
	background-image: url(/assets/mili/tag-new.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 115px;
	height: 40px;
	display: block;
	width: 115px;
	position: absolute;
	padding: 8px;
	top: 20px;
	left: 35px;
	z-index: 999;
	color: #353535;
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	font-style: normal;
	text-align: center;

}


.popup {
	background: #f5f3fa;
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 539px;
	z-index: 999999;
}

.popup.wishlist {
	height: 378px;
}

.popup.loginerror {
	height: 405px;
}

.popup .close-btn {
	cursor: pointer;
	height: 17px;
	margin-top: 35px;
	position: absolute;
	right: 35px;
	width: 16px;
}

.popup .close-btn .sprite-close {
	background-image: url(/assets/mili/close-icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 16px;
	height: 17px;
	display: block;
	width: 16px;
}

.popup h1 {
	margin-top: 19px;
}

.popup p {
	margin-top: 21px;
}

.popup .white-btn {
	margin-top: 33px;
	width: 293px;
}

.products .row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: inline-flex;

    float: none;
    vertical-align: top !important;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
}
a {
  color: #000000;
}


@media (max-width: 1300px) and (min-width: 991px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (min-width: 1300px) {
}
