
.heading-bigger {
  margin-top: -47px;
  left: 30px;
  z-index: 4;
}
.heading-bigger span {
  margin-left: 40px;
}
header {
  width: 100%;
  height: 134px;
  padding: 44px 30px 0px;
  z-index: 99;
  position: relative;
}
header .headingImage {
  width: calc(92vw);
  bottom: 0px;
  position: absolute;
}
header a {
  font-size: 20px;
  letter-spacing: 0.79px;
  line-height: 23px;
  color: #171717;
}
header .menu {
  z-index: 99;
  position: absolute;
  bottom: -72px
}
header a.active {
  color: #5148ff;
}
header a + a {
  margin-left: 50px;
}
header a img {
  width: 78px;
}

.rotate-90 {
  transform: rotate(90deg);
  position: absolute;
  transform-origin: left bottom;
  margin-top: 37px;
  z-index: 9;
  left: 22px;
}

header .right-side .logo-link {
  position: relative;
}
header .right-side .blink {
  position: absolute;
  bottom: -15px;
  right: 0;
}
header .right-side .logo-link:hover .blink {
  display: block !important;
}

.section-01 {
  height: calc(100vh - 134px);
  z-index: 1;
  padding-top: 42px;
}
.section-01 .container {
  width: 65vw;
  /*max-width: 940px;*/
}
.section-01 .container-floated {
  position: absolute;
  bottom: 65px;
  width: 100%;
  z-index: 1;
  padding: 0 30px;
}
.section-01 .slider {
  z-index: 1;

  width: 100vw;
  left: 0;
}
.section-01 .project-image {
  width: 100%;
  z-index: 3;
  height: calc(100vh - 165px) !important;
  background-size: 100% auto !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  border: none !important;
  box-shadow: 0px 0px 39px rgba(25,25,25,.1);
}
.section-01 .floated-element {
  position: absolute;
  top: 0;
}
.section-01 .floated-element.sliderInn {
  width: calc(100.03%);
}
.line-divider {
  width: 100%;
  height: 2px;
  background: #171717;
  margin-bottom: 15px;
}
.section-01 .container-floated-nums {
  position: absolute;
  bottom: 14px;
  width: calc(35vw + 15px);
  z-index: 1;
  padding: 0 30px;
}
.section-01 .project-description {
  width: 100%;
  height: calc(100vh - 230px);
  margin-top: 65px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 0px 39px rgba(25,25,25,.1);
}
.section-01 .top .project-description {
  cursor: auto;
}


.section-01 .top .controlsInn {
  cursor: pointer;
}
.section-01 .icon-plus {
  position: absolute;
  top: 65px;
  right: -12px;
  cursor: pointer;
  z-index: 2;
  width: 8.33%;
  text-align: center;
}
.section-01 .icon-plus img {
  margin: 44% auto;
}
.section-01 .project-description h3 {
  margin-bottom: 15px;
  color: black;
}
.section-01 .project-description h2 {
  font-family: DINCondensed-Bold;
  font-size: 52px;
  letter-spacing: 1.89px;
  line-height: 50px;
  margin-bottom: 20px;
}
.section-01 .project-description p {
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 0.53px;
  margin-bottom: 12px;
}

.section-01 .top .project-description .module {
  padding: 10px 0 0;
}
.section-01 .top .project-description .date {
  display: inline-block;
  font-weight: bolder;
  margin: 0;
}
.section-01 .top .project-description .description {
  display: inline-block;
  margin: 0;
}
.section-01 .top .project-description .module .divider {
  height: 1px;
  width: 100%;
  background: black;
  margin-top: 8px;
}
.section-01 .top .project-description .modules {
  position: relative;
  margin-bottom: 20px;
}
.section-01 .top .project-description .module .lineUp {
  position: absolute;
  height: 100%;
  width: 1px;
  background: black;
  bottom: 11px;
  right: 0;
}
.section-01 .top {
  z-index: 4;
}
.section-01 .float-right {
  float: right;
  margin-right: 15px;
}
.section-01 .slideArea {
  position: relative;
  height: calc(100vh - 176px);
  opacity: 0;
}
.section-01 .slick-slide {
  outline: none;
}
.section-01 .slick-current .slideArea {
  opacity: 1;
}
.controls {
  z-index: -2;
  top: 0;
}
.section-01 .container-floated.divider {
  bottom: 30px;
  z-index: -1;
}
.section-01 .clickArea {
  width: 35vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-01 .clickArea .left {
  cursor: url('../img/icons/icon-pointer-left-black-x1.png'), auto;
  cursor: -webkit-image-set(
    url('../img/icons/icon-pointer-left-black-x1.png') 1x,
    url('../img/icons/icon-pointer-left-black.png') 2x
  ), auto;
  width: 50%;
  height: 100%;
  display: inline-block;
  z-index: 2
}
.section-01 .clickArea .right {
  cursor: url('../img/icons/icon-pointer-right-black-x1.png'), auto;
  cursor: -webkit-image-set(
    url('../img/icons/icon-pointer-right-black-x1.png') 1x,
    url('../img/icons/icon-pointer-right-black.png') 2x
  ), auto;
  width: 50%;
  height: 100%;
  right: 0;
  display: inline-block;
  z-index: 2
}
.linesBack {
  opacity: 0;
  position: absolute;
  bottom: 75px;
  right: 15px;
  width: 500px;
  height: calc(100vh - 410px);
  background: url(../img/assets/line-back.svg);
  background-repeat: repeat-y;
  background-position: right, 60px;
  z-index: -3;
  box-shadow: inset 170px 0 170px -30px #fff;
}
.innerSlider {
  z-index: 3;
}
.innerSlider img {
  height: auto;
  border: 0!important;
}
.innerSlider {
  position: relative;
}
.innerSlider .slick-dots {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 9;
}
.innerSlider .slick-dots li {
  display: block;
  margin: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #5147FF;
  border-radius: 50%;
}
.innerSlider .slick-dots li.slick-active {
  background: #5147FF;
}
.innerSlider .slick-dots li + li {
  margin-top: 20px;
}
.innerSlider .slick-dots li button {
  opacity: 0;
}
.controlsInn.working {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.controlsInn.working .up {
  height: calc(50vh - 50px );
  width: 100%;
  cursor: url('../img/icons/icon-pointer-top-black-x1.png'), auto;
  cursor: -webkit-image-set(
    url('../img/icons/icon-pointer-top-black-x1.png') 1x,
    url('../img/icons/icon-pointer-top-black.png') 2x
  ), auto;
  z-index: 9999;
}
.controlsInn.working .down {
  height: calc(50vh - 50px );
  display: block;
  width: 100%;
  cursor: url('../img/icons/icon-pointer-down-black-x1.png'), auto;
  cursor: -webkit-image-set(
    url('../img/icons/icon-pointer-down-black-x1.png') 1x,
    url('../img/icons/icon-pointer-down-black.png') 2x
  ), auto;
  z-index: 9999;
}
.mobile-menu {
  display: none;
}


@media (max-width: 1300px) and (min-width: 991px) {
}

@media (max-width: 991px) {
  body {
    min-height: 909px;
    position: relative;
  }
  header .headingImage {
    bottom: 45px;
  }
  .section-01 {
    padding-top:0;
    height: 100vh;
  }
  .heading-bigger {
    position: absolute;
    top: 60px;
    left: 30px;
    transform: none;
    z-index: 4;
  }
  .heading-bigger span {
    margin-left: 40px;
  }
  .clickArea {
    display: none;
  }
  /*header {
    display: none;
  }*/
  /*.slider {
    margin-top: calc(100vh - 705px);
  }*/
  .section-01 {
    height: auto;

    position: absolute;
    bottom: 40px;
  }
  .section-01 .container {
    width: 70vw;
    /* max-width: 940px; */
  }
  /*.section-01 .slider {
    margin-top: 108px;
  }*/
  /*.section-01 .float-right {
    float: none;
    margin-right: auto;
  }*/
  .section-01 .slideArea {
    position: relative;
    height: 682px;
  }
  .controlsInn {
    display: none;
  }
  .section-01 .project-image {
    height: 638px !important;
  }
  .innerSlider .slick-dots {
    top: 50%;
  }
  .section-01 .project-description {
    height: 638px;
    margin-top: 43px;
    padding-bottom: 18px;
  }
  .section-01 .icon-plus img {
    margin: -6% auto;
  }
  .section-01 .container-floated {
    bottom: 15px;
    z-index: 9;
  }
  .section-01 .container-floated.divider {
    bottom: -15px;
    z-index: -1;
  }
  .section-01 .container-floated-nums {
    width: 100%;
    bottom: -30px;
  }
  .icon-menu {
    position: absolute;
    top: 133px;
    right: 15px;
  }
  .icon-close {
    position: absolute;
    top: 58px;
    right: 42px;
  }
  header .menu {
    bottom: -16px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #5147FF;
    display: none;
    z-index: 9999;
    text-align: center;
    padding-left: 40px;
  }
  .mobile-menu a {
    font-size: 80px;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 80px;
    text-transform: uppercase;
  }
  .mobile-menu a + a {
    margin-top: 60px;
  }
  .mobile-menu a.active {
    color: black;
  }
  .logo-link {
    position: relative;
    width: 90px;
    margin: 0 auto;
  }
  .logo-link .blink {
    position: absolute;
    left: 1px;
    top: 9px;
  }
}

@media (max-width: 767px) {
  .section-01 {
    height: auto;
    overflow: initial;
    padding-bottom: 20px;
  }
  .section-01 .container {
    width: initial;
  }
  .heading-bigger {
    position: relative;
    transform: none;
    top: initial;
    left: initial;
    margin-top: 40px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 30px;
    text-align: center;
  }
  .slider {
    margin-top: 23px;
    margin-bottom: 20px;
  }
  .section-01 .slideArea {
    height: 400px;
  }
  .section-01 .float-right {
    float: none;
    margin: auto;
  }
  .slick-slide {
    float: none;
  }
  .slick-vertical .slick-slide {
    float: none;
  }
  .section-01 .floated-element {
    position: relative;
  }
  .linesBack {
    position: relative;
    display: none;
  }

  .section-01 .container-floated {
    position: relative;
    padding: 0 15px;
  }
  .section-01 .container-floated-nums {
    position: relative;
    bottom: initial;
    padding: 0 15px;
  }
  .section-01 .project-image {
    height: 400px !important;
  }
  .section-01 .container-floated.divider {
    bottom: initial;
  }
  .section-01 .project-description {
    padding: 60px 15px;
    text-align: center;
    height: initial;
  }
  .section-01 .project-description .center-y {
    position: relative;
    transform: none;
    top: initial;
  }
  .section-01 .project-description h2 {
    font-size: 32px;
    letter-spacing: 1.89px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1300px) {
}
