/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/shared";
@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'socialiconsfont';
	src:url('fuentes/socialiconsfont.eot?-pap3r9');
	src:url('fuentes/socialiconsfont.eot?#iefix-pap3r9') format('embedded-opentype'),
		url('fuentes/socialiconsfont.woff?-pap3r9') format('woff'),
		url('fuentes/socialiconsfont.ttf?-pap3r9') format('truetype'),
		url('fuentes/socialiconsfont.svg?-pap3r9#socialiconsfont') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* VARIABLES */

$azulclaro: #28a6db;
$azulobscuro: #0880b0;


/* Extends(pendiente) */
a {
	a:link {color:white;}      /* unvisited link */
	a:visited {color:white;}  /* visited link */
	a:hover {color:white;}  /* mouse over link */
	a:active {color:white;}  /* selected link */
}

body {
	font-size:62.5%; /*roughly 10px*/
	background: #28a6db;
	font-family: 'open_sansregular';
}

p,h1,h2,h3,span,a {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

/*############ HEADER ###############*/
.desktop figure:first-child {
	margin-bottom:10%;
}

.desktop header figure{
	padding-top:47px;
	margin-bottom:9em;
}

.desktop header figure img {
	max-width:220px;
	text-align:center;
	-webkit-transition:.2s;
}

.desktop header figure img:hover {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
}

#fondo-header {
	width:100%;
	max-height:176px;
	position:absolute;
	z-index:-1;
}
/*############ SECCION1 ###############*/
/*section {
	border:solid red 1px;
}

.columns{
	border:solid red 1px;
}
*/


#seccion1desktop  a{
	background:#0880b0;
	border-radius:.5em;
	color:white;
	padding:.8em;
	font-weight:normal;
	font-size:1.8em;
} 

#seccion1desktop  a:hover{
	background:#0880b0;
	border-radius:.5em;
	color:white;
	padding:.7em;
	font-size:1.7em;
} 

#seccion1desktop{
	color:white;
	font-family:'open_sansregular';
	text-align:center;
	height:450px;
}

#seccion1desktop p:first-child {
	font-weight:normal;
	font-size:4.2em;
	padding:10px 0px 0px 0px;
}

#seccion1desktop p:nth-child(2){
	font-size:1.8em;
	margin-top:1.5em;
	margin-bottom:2em;
	line-height:1.5em;
}

#seccion1desktop .row div:first-child {
	padding:0px;
} 


#seccion1desktop .row div:nth-child(2){
	margin-top:3em;

}

#seccion1desktop div #calltoaction{

}



/*############ SECCION2 SOCIAL ###############*/
#socialbar {
    height: 50px;
    background: #0880b0;
    position: relative;
    width:750px;
    bottom:0;
    padding:1.8em 30px 0px 1.8em;
    display:inline-block;
}

#socialbar:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid #28a6db;
    border-left: 50px solid rgba(0,0,0,0);
    width: 0;
}

#social-extencion{
	background:#0880b0;
	height:60px;
	width:auto;
	margin:0px;
}

#socialbar a {
	font-size:2.5em;
	color:#28a6db;
}

#socialbar a:hover {
	color:#fafafa;
	-webkit-transition:(.1s);
}

#socialbar div {
	display:inline;
	width:100%;
}


#socialbar figcaption {
	padding:0 6% 0 0;
	display:inline-block;
}

#socialbar span{
	color:#28a6db;
	font-size:2em;
	font-weight:800;
	padding:0 4em 0 0;
}

/*## SOCIAL ICONS ##*/

.cell:before {
	content: "\e600";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dribbble:before {
	content: "\e601";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.linkedin:before {
	content: "\e602";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sms:before {
	content: "\e603";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.twitter:before {
	content: "\e604";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.behance:before {
	content: "\e605";
	font-family: 'socialiconsfont';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/*############ SECCION3 ABOUTME  ###############*/


#aboutme{
	height:240px;
	background:#EBEBEB;
	text-align:center;
}


#aboutme div p {
	font-size:2em;
	line-height:1.2em;
	padding-top:1em;
	color:#383838;
}

#aboutme h2{
	font-size:5em;
	text-transform:uppercase;
	padding-top:1em;
	color:#383838;
}

/*############ SECCION4 PORTAFOLIO  ###############*/

.cellnumber{
	display:none;
}

.contenedor {
	height:400px;
	width:300px;
	display:inline-block;
	margin:1em 2em 2em 2em;
	text-align:center;

}

#portafolio-desktop {
	background:#8a8a8a;
	padding:2em 1em 2em 1em;
	color:#fff;
	font-size:1.8em;
	margin: 0 auto;
	text-align:center;

}

#portafolio-desktop .contenedor img {
	background-image:cover;
	border-radius:3em;
}


#portafolio-desktop h2{
	font-size:3em;
	text-transform:uppercase;
	padding:1em .5em;
}

/*###########################*/
/*############ HEADER MOVILE ###############*/
/*###########################*/

/*############ HEADER MOVILE ###############*/

header{
	display:block;
}

#fondo-header-movile {
	width:100%;
	max-height:176px;
	position:absolute;
	z-index:-1;
}

.movile header figure{
	padding-top:10px;
	max-height:150px;
	font-family:'open_sansregular';
}

.movile header figure img {
	max-height:55px;
	display:block;
	margin: 0 auto 0 auto;
}

.movile img {
	display:block;
	margin:0 0 10px 0;
}


/*############ SECCION1 MOVILE ###############*/
#seccion1{
	position:relative;
	color:white;
	font-family:'open_sansregular';
	text-align:center;
}

#seccion1 div{
	margin-top:1.5em;
	padding:0px;
}

#seccion1 div #calltoaction{
	font-weight:normal;
	font-size:1.8em;

}

#seccion1 div:first-child p{
	font-weight:normal;
	font-size:4.2em;
	padding:10px 0px 0px 0px;
}

#seccion1 div:nth-child(2) p{
	font-size:1.8em;
	margin-top:.6em;
	line-height:1.5em;
}

#seccion1 div:nth-child(3) a{
	background:#0880b0;
	border-radius:.5em;
	color:white;
	padding:.5em;
}


/*############ FOOTER MOVILE ###############*/

#footer{
	background:#0880b0;
	display:block;
	height:50px;
	bottom:0;
	position:absolute;
}

#footer div a {
	font-family:'socialico-webfont';
	font-size:5em;
}

