.text-description-heading {
  margin-bottom: 30px;
}
.text-description-subHeading {
  margin-bottom: 30px;
}
.text-body {
  margin-bottom: 0px;
}
#section-01 {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
footer {
  margin-top: 80px;
}
.image-row {
  margin-bottom: 40px;
}
.box .text-module .bottom {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 30px);
}
.text-description-heading {
  margin-bottom: 0px;
  height: 244px;
  line-height: 130px;
}

/* TABLET --------------------------------- */
@media screen and (max-width: 991px) {
  #section-01 {
    padding-top: 100px;
  }
  .text-description-heading {
    margin-bottom: 0px;
    height: initial;
  }
  .image-row {
    margin-bottom: 30px;
  }
  .text-description-subHeading {
    margin-bottom: 20px;
  }
}
/* PHONE --------------------------------- */
@media screen and (max-width: 767px) {
  #section-01 {
      padding-top: 60px;
      margin-bottom: 40px;
  }
  .text-description-heading {
    margin-top: 0px;
    margin-bottom: 11px;
  }
  .box {
    height: auto;
  }
  .box .text-module .bottom {
    position: initial;
    bottom: initial;
    width: 100%;
    padding: 0;
  }
  .box .image.mid {
    margin-bottom: 12px;
  }
  .image-row {
    margin-bottom: 0px;
  }
  .text-description-subHeading {
    margin-bottom: 17px;
  }
  .columns-2 {
    column-count: 1;
    column-gap: 0px;
  }
  footer {
    margin-top: 0px;
  }
}
