footer {
  background: #5148FF;
  min-height: 100px;
  padding: 37px 0;
}
footer a {
  color: #272727;
  font-family: "AlteDin";
  font-size: 14px;
  letter-spacing: 1.95px;
  line-height: 30px;
  display: inline-block;
}
footer a + a {
  margin-left: 20px;
}

/* TABLET --------------------------------- */
@media screen and (max-width: 991px) {
  footer {
    padding: 25px 0px;
    min-height: 60px;
    text-align: center;
  }
}
/* PHONE --------------------------------- */
@media screen and (max-width: 767px) {

}
