header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
header .icon-menu {
  margin: 20px 0 0 -7px;
  width: 100%;
  cursor: pointer;
  position: relative;
  height: 50px;
  z-index: 4;
}

header .icon-menu .line {
  width: 100%;
  height: 10px;
  position: absolute;
  background: #272727;
}
header .icon-menu .line.one {
  top: 0;
  transform: rotate(0deg) translateY(0%);
}
header .icon-menu .line.two {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 1;
}
header .icon-menu .line.three {
  bottom: 0;
}
header.active .icon-menu {
  margin: 20px 0 0 12px;
  z-index: 9999;
}
header.active .icon-menu .line.one {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: -3px;
  width: 50px;
  background: white;
}
header.active .icon-menu .line.two {
  opacity: 0;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
}
header.active .icon-menu .line.three {
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  left: 3px;
  width: 50px;
  background: white;
}
header .menu-container {
  height: 100vh;
  width: 455px;
  position: fixed;
  top: 0;
  right: -455px;
  background: #272727;
  visibility: hidden;
  opacity: 0;
}
header.active .menu-container {
  visibility: visible;
  opacity: 1;
  right: 0;
}
header .menu-container .links {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 335px;
}
header .menu-container .text-body {
  margin-bottom: 0px !important;
}
header .menu-container .color-white {
  margin-bottom: 30px !important;
}

/* Contact */

header .contact-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 101vw;
  z-index: -2;
  opacity: 0;
  right: -101vw;
}
header .contact-container.active {
  opacity: 1;
  z-index: 10;
  left: 0vw;
}
#contact {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact-container h2 {
  margin-bottom: 12px;
}
.contact-container .social-div a {
  font-size: 24px;
}
.contact-container .social-div a + a {
  margin-left: 20px;
}
.contact-container form {

}
.contact-container form .inputDiv {
  margin-bottom: 20px;
}
.contact-container form input {
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
}
.contact-container form textarea {
  width: 100%;
  height: 140px;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
  padding-top: 10px;
  text-transform: uppercase;
}
.contact-container form label {
  letter-spacing: 1.95px;
  margin-bottom: 12px;
}
.contact-container form input,
.contact-container form textarea {
  padding: 10px;
  font-family: 'AlteDin';
  font-size: 14px;
  letter-spacing: 0.48px;
  line-height: 25px;
}
.contact-container form input.submit {
  padding: 0;
}
/* HOVERS */
@media screen and (min-width: 992px) {
  header .menu-container a:hover,
  header .menu-container a:focus,
  header .menu-container a.active {
    margin-bottom: 30px !important;
    z-index: 2;
    color: #272727 !important;
    padding: 0 4px;
  }
  header .menu-container a::after,
  header .menu-container a:hover::after,
  header .menu-container a:focus::after,
  header .menu-container a.active::after {
    border-top: 39px solid white;
    bottom: 0px;
    z-index: -1;
  }
}

/* TABLET --------------------------------- */
@media screen and (max-width: 991px) {
  header .icon-menu {
    margin: 33px 0;
    width: 48px;
    cursor: pointer;
    position: relative;
    height: 27px;
    z-index: 4;
    float: right;
  }
  header .icon-menu .line {
    height: 5px;
    position: absolute;
    background: #272727;
  }
}
/* PHONE --------------------------------- */
@media screen and (max-width: 767px) {

}
