.wordmark-div {
  position: absolute;
  z-index: -1;
}
#section-01 {
  height: calc(100vh - 40px);
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
.text-big-number {
  margin-top: -30px;
}
.box + .box {
  margin-top: 40px;
  position: relative;
}
.box .image {
  height: auto;
  width: 100%;
  position: relative;
}
.box.fill-box {
  height: 22vh;
}
.box.fill-box img {
    width: 180px;
    margin-top: 4px;
}
#section-01 .text-body {
  margin-bottom: 20px;
}
.text-body::selection {
  background: #272727;
}
.project-list .divider {
  width: calc(100% - 15px);
  height: 2px;
  background: #3e3d3c;
  margin-bottom: 18px;

}
.project-list a {
  color: #272727;
  font-family: "Source Sans Pro";
  font-size: 13px;
  letter-spacing: 0.48px;
  line-height: 20px;
  display: table;
}

.project-list a p {
  display: inline;
}
.project-list a p + p {
  margin-left: 20px;
}
.text-module-index {
  height: calc(100vh - 40px);
}
.bottom {
  position: absolute;
  bottom: 25px;
}
/* HOVERS */
@media screen and (min-width: 992px) {
  .box  {
    height: 68vh;
    overflow: hidden;
  }
  .box.extended {
    height: calc(100vh - 40px);
  }
}
/* TABLET --------------------------------- */
@media screen and (max-width: 991px) {
  #section-01 {
    padding-top: 154px;
    height: calc(100vh - 80px);
  }
  #section-01 .text-body {
    margin-bottom: 20px;
  }
  .box.extended {
    height: auto;
    overflow: hidden;
  }
  .box.fill-box {
    height: 400px;
  }
  .box + .box {
    margin-top: 20px;
  }
  .text-module-index {
    height: calc(100vh - 154px - 80px);
    position: relative;
  }
  .bottom {
    bottom: 18px;
  }
  .project-list .divider {
    margin-bottom: 20px;
  }
}
/* PHONE --------------------------------- */
@media screen and (max-width: 767px) {
  #section-01 {
    padding-top: 60px;
    height: initial;
    margin-bottom: 40px;
  }
  #section-01 .box + .box {
    display: none;
  }
  #section-01 .bottom {
    position: initial;
    bottom: initial;
  }
  #section-01 .scroll-y {
    margin-bottom: 20px;
  }
  #section-01 .text-body {
    margin-bottom: 22px;
  }
  #section-01 .project-list .divider {
    margin-bottom: 18px;
  }
  #section-01 .project-list a p + p {
    margin-left: 18px;
  }
  #section-01 .text-module-index {
    height: auto;
    position: initial;
  }
  #section-01 .project-list a {
    line-height: 27px;
  }
}
