#section-01 {
  position: relative;
}

/*#section-02 {
  padding-top: 30px;
}*/
#section-02 .text-description-heading {
    margin-top: 70px;
    margin-bottom: 22px;
  }
#section-02 .text-description-subHeading {
  margin-bottom: 47px;
}
#section-02 .text-description-body {
  margin-bottom: 70px;
}
#section-02 .divider {
  width: 100%;
  height: 10px;
  margin-bottom: 40px;
}
#section-02 .image-row {
  margin-bottom: 0;
}
#section-02 .box .image.mid {
    margin-bottom: 0px;
}
#section-02 .box,
#section-02 .controls {
  text-align: center;
  overflow: hidden;
  height: 203px;
}
#section-02 .controls .box.mid,
#section-02 .controls .box .image.mid {
  height: 203px;
  cursor: pointer;
}
#section-02 .controls p {
  font-family: "AlteDin";
  font-size: 154px;
  color: #FFFFFF;
  letter-spacing: 21.48px;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#section-02 .controls span {
  top: 15px;
  position: absolute;
  left: 10px;
}
#section-02 .controls img {
  position: absolute;
  bottom: -30px;
}
#section-02 .controls .left img {
  left: -60px;
}
#section-02 .controls .right img {
  position: absolute;
  right: -60px;
}
#section-02 .controls .left:hover img{
  left: -80px;
}
#section-02 .controls .right:hover img {
  position: absolute;
  right: -80px;
}
#section-02 .controls .image .hover {
  width: calc(100% - 30px);
  height: 100%;
  position: absolute;
  top:0;
  left: 15px;
  background: transparent;
}
#section-02 .controls .image:hover .hover {
  background: #272727;
}
