@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
/*.site-content {
	background: url(../img/delete/contacto-tablet.png);
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0.6;
}*/

body {
  background: #FEF9F4;
}



a,
a:hover,
a:focus,
a:active {
    color: #3E3835;
    outline: none;
}

/* FILLS  --------------------------------- */
.fill-black {
    background: #151515;
}

.fill-gray {
    background: #A1A1A1;
}

.fill-white {
    background: #FFFFFF;
}



/* FONTS --------------------------------- */
.text-heading-section {
  font-family: 'Vollkorn', serif;
  font-size: 38px;
  color: #3E3835;
  letter-spacing: 0.54px;
  line-height: 20px;
}

.text-heading-post {
  font-family: 'Vollkorn', serif;
  font-size: 38px;
  color: #3E3835;
  letter-spacing: 0.54px;
  line-height: 20px;
  margin-bottom: 20px;
  position: relative;
}
.text-subHeading {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: #272727;
  letter-spacing: 0.29px;
  line-height: 20px;
  margin-bottom: 5px;
  display: block;
}

.text-phrase {
  font-family: 'Vollkorn', serif;
  font-size: 32px;
  color: #3E3835;
  letter-spacing: 0.46px;
  line-height: 40px;
}

.text-body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 10px;
  color: #3E3835;
  line-height: 20px;
}

/* COLORS --------------------------------- */
.color-black {
    color: #151515;
}

.color-gray {
    color: #A1A1A1;
}

.color-white {
    color: #FFFFFF;
}

/* BLUEDOTS LINK ------------------------------*/
.blueDots-link a.text-link {
    position: relative;
}
.blueDots-link a.text-link::before {
    opacity: 0;
    content:"â—";
    color: transparent;
    font-size: 14px;
    position: absolute;
    left: calc(50% - 5px);
    top: 18px;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.blueDots-link a.text-link.active::before {
    color: #f56e71;
    opacity: 1;
}
a.text-link.active.dotRed::before {
    color: #f56e71 !important;
    opacity: 1;
}
a.text-link.active.dotBlue::before {
    color: #BED5F3 !important;
    opacity: 1;
}
a.text-link.active.dotPink::before {
    color: #F9BDC6 !important;
    opacity: 1;
}
a.text-link.active.dotGray::before {
    color: #575753 !important;
    opacity: 1;
}
a.text-link.active.dotBeige::before {
    color: #d2cbc2 !important;
    opacity: 1;
}


/* BUTTON FILL --------------------------------- */
button {
    background: none;
    border: none;
}
button:hover {
    background: none;
    border: 1px solid transparent;
}
.button-fill {
    color: #ffffff;
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 25px 10px;
}


.button-fill img {
    display: inline-block;
}

/* BUTTON STROKE --------------------------------- */
.button-stroke {
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 45px;
    letter-spacing: 1.43px;
    height: 45px;
    display: inline-block;
    background:transparent;
    outline: none;
    cursor: pointer;
}
.button-stroke.color-black {
    border: 1px solid #202020;
}


.button-stroke.color-gray {
    border: 1px solid #9b9b9b;
}
.button-stroke.color-gray:hover,
.button-stroke.color-gray:active {
    background: #b3b3b3;
    border: 1px solid #b3b3b3;
    color: white;
}

.button-stroke.color-white{
    border: 1px solid #FFFFFF;
}

.button-stroke img {
    display: inline-block;
}

/* OPACITY --------------------------------- */
.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-15 {
    opacity: 0.15;
}

/* ROTATES --------------------------------- */
.rotate-45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* TRANSITIONS --------------------------------- */
.transition {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.transition-600 {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}
.transition-1600 {
    -webkit-transition: all 1600ms ease-in-out;
    -moz-transition: all 1600ms ease-in-out;
    -ms-transition: all 1600ms ease-in-out;
    -o-transition: all 1600ms ease-in-out;
    transition: all 1600ms ease-in-out;
}
.transition-2000 {
    -webkit-transition: all 2000ms ease-out;
    -moz-transition: all 2000ms ease-out;
    -ms-transition: all 2000ms ease-out;
    -o-transition: all 2000ms ease-out;
    transition: all 2000ms ease-out;
}
.transition-2250 {
    -webkit-transition: all 2250ms ease-out;
    -moz-transition: all 2250ms ease-out;
    -ms-transition: all 2250ms ease-out;
    -o-transition: all 2250ms ease-out;
    transition: all 2250ms ease-out;
}
.transition-2500 {
    -webkit-transition: all 2500ms ease-out;
    -moz-transition: all 2500ms ease-out;
    -ms-transition: all 2500ms ease-out;
    -o-transition: all 2500ms ease-out;
    transition: all 2500ms ease-out;
}
.transition-6000 {
    -webkit-transition: all 6000ms ease-in-out;
    -moz-transition: all 6000ms ease-in-out;
    -ms-transition: all 6000ms ease-in-out;
    -o-transition: all 6000ms ease-in-out;
    transition: all 6000ms ease-in-out;
}

/* CENTERS --------------------------------- */
.center-container {
    position: relative
}
.center-x {}
.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.center-xy {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}



/* GENERAL --------------------------------- */
body {
    color: #2d2d2d;
    font-family: "Apercu-Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.22px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4, address {
    margin: 0;
}


p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
li::selection,
a::selection,
span::selection,
address::selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
li::-moz-selection,
a::-moz-selection,
span::-moz-selection,
address::-moz-selection {
  background: #3E3835;
  color: white;
}
img,
div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  border-radius: 0 !important;
}
.container {
  max-width: 970px;
}

.inputDiv {
  position: relative;
}
input {
  width: 100%;
  background: transparent;
  border: 1px solid #3E3835;
  outline: none;
  box-shadow: none;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
  color: #3E3835;
}
textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #3E3835;
  outline: none;
  box-shadow: none;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px 15px;
  color: #3E3835;
}
input[type="submit"] {
  background: #272727;
  text-align: center;
  color: #998A74;
}

/* EXTRAS --------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999999999;
    background: white;
}

.loader img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 70px;
    display: none;
}

/* HOVERS */
@media screen and (min-width: 992px) {
    .link-heading-section:hover {
          color: #FF8C91;
    }
    .blueDots-link a.text-link:hover::before {
        color: #f56e71;
        opacity: 1;
    }
    .dotRed:hover::before{
        color: #f56e71 !important;
        opacity: 1;
    }
    .dotBlue:hover::before {
        color: #BED5F3 !important;
        opacity: 1;
    }
    .dotPink:hover::before{
        color: #F9BDC6 !important;
        opacity: 1;
    }
    .dotGray:hover::before, {
        color: #575753 !important;
        opacity: 1;
    }
    .dotBeige:hover::before {
        color: #d2cbc2 !important;
        opacity: 1;
    }
    a, a:hover, a:focus {
        color: #2d2d2d;
        text-decoration: none;
        outline: none !important;

        /* Transition */
        -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }
    *:focus {
        outline: none;
    }
    *:hover > .gradientBox,
    *:active > .gradientBox {
        opacity: 1;
    }

    .pagination-global li:hover {
        color: #151515;
    }
    .pagination-global a:hover {
        color: #151515;
    }

    .button-fill.fill-gray:hover,
    .button-fill.fill-gray:active {
        background: #b3b3b3;
    }

    .button-fill.fill-white:hover,
    .button-fill.fill-white:active {
        background: #d4d4d4;
    }
    .button-stroke.color-white:hover,
    .button-stroke.color-white:active {
        background: white;
        border: 1px solid white;
        color: #FE8587;
    }

    /* LINKS --------------------------------- */
    a.color-black:hover,
    a.color-black:focus {
        color: #4b4b4b;
    }

    a.color-gray:hover,
    a.color-gray:focus {
        color: #b3b3b3;
    }

    a.color-white:hover,
    a.color-white:focus {
        color: #d4d4d4;
    }
    .link-heading-section:active {
        color: #FF8C91 !important;
    }
    .link-heading-section:active .gradientBox {
      opacity: 1;
    }
    /* SOCIAL CONTAINER -------------------------- */
    .social-container a img.hover,
    .social-container span img.hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }



}
/* MODULE --------------------------------- */
@media screen and (min-width: 992px) {
    .col-md-center {
        float: none;
        display: inline-block;
    }
}
/* MODULE --------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px){
    .col-sm-center {
        float: none;
        display: block;
        margin: 0 auto;
    }
}
/* MODULE --------------------------------- */
@media screen and (min-width: 768px) {
    .col-bottom {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}
@media screen and (max-width: 991px) {
    a,
    a:hover,
    a:focus,
    a:active {
     text-decoration: none;
    }
    .site {
        min-height: calc(100vh - 300px);
    }
    .text-center-mobile {
        text-align: center;
    }
    .text-heading-text p {
        margin-top: 10px;
    }
    .container {
        max-width: initial;
        padding: 0 40px;
    }
    /* FONTS --------------------------------- */

    .text-center-sm {
        text-align: center;
    }
    .text-link.button-stroke {
        line-height: 19px;
    }
    *:hover > .gradientBox {
        opacity: 0;
    }
    *.hover {
      display: none;
    }
    .social-container a:hover img,
    .social-container a:active img,
    .social-container a:focus img {
      opacity: 1;
    }

}

@media screen and (max-width: 767px) {
    .col-xs-center {
        float: none;
        display: inline-block;
    }
    .container-fluid {
        max-width: initial;
    }

    .loader img {
        width: 160px;
    }
    .line-section {
        margin-bottom: 48px;
    }
    /* FONTS --------------------------------- */
    .text-heading-post,
    .text-phrase,
    .text-heading-section {
      font-size: 20px;
      letter-spacing: 0.29px;
      line-height: 30px !important;
      margin-bottom: 0px;
    }
}
