/*.site-content {
	background: url(../img/delete/contacto-tablet.png);
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0.6;
}*/

/* IMPORTS --------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
  /* font-family: 'Fjalla One', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
  /* font-family: 'Open Sans', sans-serif; */

/* FILLS  --------------------------------- */
.fill-black {
  background: #35393E;
}
.fill-white {
  background: #FFFFFF;
}
.fill-blue{
  background: #3D62AC;
}
.fill-dots-blue {
  background: #3D62AC;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
}
.fill-dots-black {
  background: #35393E;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
}
.fill-dots-trans {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.08), rgba(0,0,0,.08) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
}

/* FONTS --------------------------------- */
.text-heading-big {
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;
  letter-spacing: 5.33px;
  line-height: 93px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-heading {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 0.89px;
  line-height: 70px;
  position: relative;
  display: inline;
}
.text-heading + .text-body {
  margin-top: 10px !important;
}
.text-heading-section {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}
.text-subHeading {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 33px;
  letter-spacing: 1.65px;
  margin-bottom: 10px;
  line-height: 40px;
}
.text-section-small {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.text-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.text-body + .text-body {

}
.text-link {
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  letter-spacing: 1.11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-link img {
  margin-left: 5px;
}
.text-button {
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  letter-spacing: 1.11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* COLORS --------------------------------- */
.color-black {
  color: #35393E;
}

.color-gray {
  color: #A1A1A1;
}

.color-white {
  color: #FFFFFF;
}
/* BUTTON FILL --------------------------------- */
button {

}
button:hover {

}
.button-fill {

}
.button-fill img {
  display: inline-block;
}
/* BUTTON STROKE --------------------------------- */
.button-stroke {

}
.button-stroke img {

}
/* OPACITY --------------------------------- */
.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-15 {
  opacity: 0.15;
}
/* ROTATES --------------------------------- */
.rotate-45 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate-90 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate-180 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-270 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* TRANSITIONS --------------------------------- */
.transition {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.transition-600 {
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.transition-900 {
  -webkit-transition: all 900ms ease-in-out;
  -moz-transition: all 900ms ease-in-out;
  -ms-transition: all 900ms ease-in-out;
  -o-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}
.transition-1200 {
  -webkit-transition: all 1200ms ease-in-out;
  -moz-transition: all 1200ms ease-in-out;
  -ms-transition: all 1200ms ease-in-out;
  -o-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}
.transition-remove {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* CENTERS --------------------------------- */
.center-container {
  position: relative
}
.center-x {
  position: absolute;
  top: 50%;
}
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.center-xy {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%));
  -o-transform: translate(-50%, -50%));
  -webkit-transform: translate(-50%, -50%));
}
/* GENERAL --------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #35393E;
  line-height: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, address {
  margin: 0;
}
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
li::selection,
a::selection,
span::selection,
address::selection {
  background: #35393E;
  color: white;
}
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
li::-moz-selection,
a::-moz-selection,
span::-moz-selection,
address::-moz-selection {
  background: #35393E;
  color: white;
}
input,
textarea {
  border-radius: 0 !important;
}
a,
a:hover,
a:focus,
a:active {
    color: #151515;
    outline: none;
}
/* LOADER --------------------------------- */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* GENERAL --------------------------------- */
.line-black {
  width: 100%;
  height: 1px;
  background: #333333;
  display: block;
  margin: 5px 0;
}
.line-gray {
  width: 100%;
  height: 1px;
  background: #D8D8D8;
  display: block;
  margin: 5px 0;
}


/* HOVERS */
@media screen and (min-width: 992px) {
    a,
    a:hover,
    a:focus {
    color: #2d2d2d;
    text-decoration: none;
    outline: none !important;
    }
    *:focus {
      outline: none;
    }
    /* LINKS --------------------------------- */
    a.color-black:hover,
    a.color-black:focus {
        color: #4b4b4b;
    }

    a.color-gray:hover,
    a.color-gray:focus {
        color: #b3b3b3;
    }

    a.color-white:hover,
    a.color-white:focus {
        color: #d4d4d4;
    }
}

/* MODULE --------------------------------- */
@media screen and (min-width: 992px) {
    section {
      min-height: 700px;
    }
    .col-md-center {
        float: none;
        display: inline-block;
    }
}

/* MODULE --------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px){
    .col-sm-center {
        float: none;
        display: inline-block;
    }
}

/* MODULE --------------------------------- */
@media screen and (min-width: 768px) {
  .col-bottom {
      position: absolute;
      right: 0;
      bottom: 10px;
  }
}
/* DESKTOP --------------------------------- */
@media screen and (min-width: 991px) {
  .cursor {
    position: absolute;
    background-color: #3C5A98;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transition: .3s cubic-bezier(.75,-1.27,.3,2.33) -webkit-transform,.2s cubic-bezier(.75,-.27,.3,1.33) opacity;
    transition: .3s cubic-bezier(.75,-1.27,.3,2.33) transform,.2s cubic-bezier(.75,-.27,.3,1.33) opacity;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  @-webkit-keyframes hoverCircle {
    0%   {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
    100% {
      -webkit-transform: scale(1.8);
      transform: scale(1.8);
     }
  }
  .cursor.active {
    -webkit-animation: hoverCircle 1.2s infinite alternate; /* Safari 4+ */
    -moz-animation:    hoverCircle 1.2s infinite alternate; /* Fx 5+ */
    -o-animation:      hoverCircle 1.2s infinite alternate; /* Opera 12+ */
    animation:         hoverCircle 1.2s infinite alternate; /* IE 10+, Fx 29+ */
    animation-timing-function: ease-out;
  }
  .cursor.circleBlue {
    background: #355088;
  }
  .cursor-follower {
      position: absolute;
      background-color: rgba(184,187,194,.3);
      width: 20px;
      height: 20px;
      border-radius: 100%;
      transition: .6s cubic-bezier(.75,-1.27,.3,2.33) -webkit-transform,.2s cubic-bezier(.75,-.27,.3,1.33) opacity;
      transition: .6s cubic-bezier(.75,-1.27,.3,2.33) transform,.2s cubic-bezier(.75,-.27,.3,1.33) opacity;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
      z-index: 9999;
      -webkit-transform: translate(5px,5px);
      transform: translate(5px,5px);
  }
  *,body,html,a {
   cursor:none
  }
  [aria-busy=true] {
   cursor:progress
  }
  [aria-controls] {
   cursor:pointer
  }
  [aria-disabled] {
   cursor:default
  }
}
/* TABLET - 991px --------------------------------- */
@media screen and (max-width: 991px) {
  a,
  a:hover,
  a:focus,
  a:active {
   text-decoration: none;
  }
  .text-center-mobile {
      text-align: center;
  }
  .text-heading-text p {
      margin-top: 10px;
  }
  .container {
      max-width: initial;
      padding: 0 40px;
  }
  /* FONTS --------------------------------- */


  .text-heading-big {
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 70px;
  }
  #section-01 .text-heading-big {
    font-size: 75px;
    letter-spacing: 2px;
    line-height: 85px;
  }
  .text-subHeading {
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 35px;
  }
  .text-subHeadingSmall {
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    letter-spacing: 1.36px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: inline-block;
  }
  .text-subHeadingSmall + .text-subHeadingSmall {
    margin-left: 60px;
  }
  .text-subHeading-post {

  }
  .text-body + .text-body {

  }
  .text-body {
    margin-bottom: 10px;
  }
  .text-link {

  }
  .text-center-sm {
      text-align: center;
  }
}

/* PHONE - 767px --------------------------------- */
@media screen and (max-width: 767px) {
  .site {

  }
  .col-xs-center {
      float: none;
      display: inline-block;
  }
  .container {

  }
  /* LOADER --------------------------------- */
  .loader img {
      width: 160px;
  }
  /* FONTS --------------------------------- */
  .text-heading {

  }
  .text-subHeading {

  }
  .text-body + .text-body {

  }
  .text-body {

  }
}
