// VARIABLES
$screen-background: #121010;
// MIXINS
@mixin mixin_name() {

}

// ANIMATIONS
@keyframes headerLine {
  0% { width: 0;}
  100% { width: 100%;}
}

header {
  opacity: 0;
  position: fixed;
  width: 100vw;
  z-index: 10;
  .logo {
    margin-top: 25px;
    height: 34px;
  }
  .button-postal {
    display: block;
    height: 58px;
    margin-top: 14px;
    position: relative;
    .icon-postal {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: -5px 5px 10px hsla(36, 1%, 10%, 0.05);
      width: 70px;
    }
    &:hover .icon-postal {
      transform: translateX(-50%) rotate(3deg);
    }
    &:hover .icon-postcard {
      transform: translate(-50%, -50%) rotate(3deg);
    }
    .icon-postcard {
      width: 27px;
    }
  }
}


/* HOVERS */
@media screen and (min-width: 992px) {
  #navMobile {
    display: none;
  }
}

/* MODULE --------------------------------- */
@media screen and (min-width: 992px) {

}

/* MODULE --------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px){

}

/* MODULE --------------------------------- */
@media screen and (min-width: 768px) {

}

/* TABLET - 991px --------------------------------- */
@media screen and (max-width: 991px) {
  header {
    .logo {
      height: 17px;
    }
    .button-postal {
      height: 57px;
      .icon-postal {
        width: 67px;
        left: initial;
        right: 0;
        transform: none;
      }
      .icon-postcard {
        width: 25px;
        left: initial;
        right: 8px;
      }
    }
  }
}

/* PHONE - 767px --------------------------------- */
@media screen and (max-width: 767px) {
  header {
    opacity: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
    .menu-mobile-trigger {
      margin-top: 25px;
    }
    .logo {
      margin-top: 20px;
      height: 30px;
    }
    .button-postal {
      height: 41px;
      margin-top: 14px;
      &:hover {
        .icon-postal {
          transform: translateX(0%) rotate(3deg);
        }
      }
      .icon-postal {
        width: 50px;
      }
      .icon-postcard {
        width: 22px;
        left: initial;
        right: 3px;
      }
    }
  }
}
