/* CONTROLS ----------------------------- */
#controls::before {
  content: attr(data-slide);
  position: absolute;
  color: white;
  font-size: 13px;
  top: -26px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  left: 50%;
  transform: translateX(-50%);
}
#controls {
  height: 480px;
  width: 35px;
  bottom: 50px;
  z-index: 99;
  left: 35px;
  position: fixed;
}
#controls .circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  position: absolute;
  text-align: center;
  padding-top: 5px;
  z-index: 1;

}
#controls .circle.up {

}
#controls .circle.down {
  bottom: 0;
  transform: rotate(180deg);
}
#controls .line {
  width: 1px;
  height: calc(100% - 70px);
  background: white;
  margin:35px auto ;
}
#controls .lineBold {
  width: 3px;
  height: calc(100% / 4);
  margin: 0 auto;
  background: white;
  transform: translateX(-1px);
  position: relative;
}

/* SECTION 01 ----------------------------- */
#section-01 {
  background-size: cover !important;
  position: relative;
}
#section-01 .logo {
  position: relative;
  top: 400px;
  left: 400px;
}
#section-01 .fill-dots-blue {
  height: 100vh;
  width: 100%;
}
#section-01 .center-container {
  height: 100vh;
  width: 100%;
}
#section-01 .center-container .center-xy {
  width: 100%;
}
#section-01 .text-heading-big {
  display: inline;
  position: relative;
}
#section-01 .text-heading-big::after {
  content: "+";
  position: absolute;
  top: -17px;
  right: -22px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#section-01 .text-body {
  margin-top: 10px;
}
#section-01 .fill-dots-black {
  height: 140px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#section-01 .fill-dots-black .big-arrow-down {
  position: absolute;
  top: 0;
  right: 0;
}
#section-01 .drop {

  opacity: 0;
}
#section-01 .drop .text-link {
  margin-bottom: 10px;
  margin-top: 40px;
}
#section-01.active .drop {
  opacity: 1;
}
/* SECTION 02 ----------------------------- */
#section-02 {
  position: relative;
}
#section-02 .fill-dots-black {
  height: 100vh;
  padding-top: 112px;
}
#section-02 .text-heading::after {
  content: "+";
  position: absolute;
  top: -17px;
  right: -25px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#section-02 .fill-dots-blue {
  height: 300px;
  overflow: hidden;
}
#section-02 .fill-dots-blue .slides,
#section-02 .fill-dots-blue .controlBlue {
  opacity: 0;
}
#section-02.active .fill-dots-blue .slides,
#section-02.active .fill-dots-blue .controlBlue {
  opacity: 1;
}
#section-02 .fill-dots-blue .slides .slide-blue {
  position: absolute;
  top: 50%;
  margin-top: -25%;
  width: 100%;
}
#section-02 .fill-dots-blue .slides .slide-blue .text-link {
  position: absolute;
  top: -30px;
  letter-spacing: 2px;
}
#section-02 .fill-dots-blue .slides .slide-blue .text-body {
  margin-bottom: 0;
}
#section-02 .fill-dots-blue .slides .slide-blue.mision {
  opacity: 1;
  left: 0%;
}
#section-02 .fill-dots-blue .slides .slide-blue.vision {
  left: 100%;
  opacity: 0;
}
#section-02 .fill-dots-blue .slides {
  position: absolute;
  height: 100%;
  width: calc(100% - 70px);
}
#section-02 .fill-dots-blue .controlsBlue {
  width: calc(100% - 70px);
  height: 30px;
  position: absolute;
  bottom: 30px;
}
#section-02 .fill-dots-blue .controlsBlue .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  text-align: center;
  position: absolute;

  padding: 2px;
}
#section-02 .fill-dots-blue .controlsBlue .circle.left {
  transform: rotate(-90deg);
}
#section-02 .fill-dots-blue .controlsBlue .circle.right {
  transform: rotate(90deg);
  right: 0;
}
#section-02 .fill-dots-blue .controlsBlue .line {
  width: calc(100% - 60px);
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  left: 30px;
}
#section-02 .fill-dots-blue .controlsBlue .lineBold {
  height: 3px;
  width: calc(100% / 2);
  background: white;
  margin-top: -1px;
  position: absolute;
}
#section-02 .blockTop {
  height: 50vh;
  width: 100%;
  position: absolute;
  padding-top: 60px;
  top: 55px;
}
#section-02 .blockBottom {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
}
#section-02 .fill-dots-trans {
  bottom: 0px;
  height: 0px;
  width: calc(100vw - 33.33%);
  position: absolute;
  right: 0;
  z-index: -1;
}
/* SECTION 03 ----------------------------- */
#section-03 {
  position: relative;
}
#section-03 .video-div {
  height: 100vh;
  left: 0;
  z-index: 1;
}
#section-03 .video-area,
#section-03 video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 100vw 100vh !important;
  background-position: center center !important;
}
#section-03 .video-area.active {
  z-index: 9;
}
#section-03 .video-area {
  background: black;
}
#section-03 .video-area #video {
  opacity: 0.8;
}
#section-03.active .video-area.active #video {
  opacity: 1;
}
#section-03 .video-area .circle-line {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 73px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}
#section-03 .video-area .circle {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 13px 20px;
  display: block;
}

#section-03.active .video-area .circle-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section-03 .video-area .circle-line .circle:hover {
  width: 56px;
  height: 56px;
  padding: 16px 23px;
  margin: -3px;
}
#section-03 .bullet {
  position: relative;
  margin-top: -25%;
}
#section-03 .video-area .pause {
  display: none;
}
#section-03.active .video-area.active .circle-line {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  background: rgba(0,0,0,0.05);
}
#section-03.active .video-area .circle-line.active .play {
  display: none;
}
#section-03.active .video-area .circle-line.active .pause {
  display: block;
}
#section-03 .bullet .text-body {
  margin-bottom: 0;
}
#section-03 .textarea.top {
  margin-top: 60px;
  height: calc(50vh - 60px);
  position: relative;
}
#section-03 .textarea.bottom {
  height: calc(50vh);
  position: relative;
}
#section-03 .fill-dots-trans {
  position: absolute;
  width: 66.66vw;
  height: 100%;
  right: 0;
  z-index: -1;
}
#section-03 .centery {
  top: 50%;
  position: relative;
}
#section-03 .textarea.bottom .centery {
  height: 200px;
  transform: translateY(-50%);
}
/* #section-03 .textarea.bottom ul {
  position: relative;
  margin-top: -25%;
} */
#section-03 .textarea.bottom ul p {
  margin: 0 0 0 50px;
}
#section-03 .textarea.bottom ul li {
  position: relative;
}
#section-03 .textarea.bottom ul li + li {
  margin-top: 40px;
}
#section-03 .textarea.bottom img {
  position: absolute;
}
#section-03 .listFirst li::before {
  content: "";
  width: 100%;
  background: rgba(151,151,151, .10);
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
}
/* SECTION 04 ----------------------------- */
#section-04 .text-heading-big {
  margin-bottom: 40px;
}
#section-04 .title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#section-04 .title img {
  margin-left: 5px;
  height: 14px;
}
#section-04 .info {
  color:;
}
#section-04 .fa {
  border: 1px solid white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
  font-size: 15px;
}
#section-04 .fa + .fa {
  margin-left: 20px;
}
#section-04 .center-container {
  height: calc(100vh - 60px);
  margin-top: 60px;
}
#section-04 .module {
  margin-bottom: 40px;
}
#section-04 .msn {
  width: 30px;
}
#section-04 #map-canvas {
  width: 100%;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.ctrlq.fb-button{
  display: none !important;
}
.messenger-trigger {

}

/* TABLET - 991px --------------------------------- */
@media screen and (max-width: 991px) {
  #controls {
    left: 30px;
  }
  #section-01 .fill-dots-black .big-arrow-down {
    right: 15px;
  }
  #section-01 .col-sm-3 {
    position: absolute;
  }
  #section-01 .center-y .text-body {
    margin-bottom: 18px;
  }
  #section-03 .textarea.top {
    height: 50vh;
  }
  #section-03 .bullet {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #section-03 .bullet.last {
    margin-bottom: 0;
  }
  #section-03 .fill-dots-trans {
    top: 0;
  }
  #section-03 .centery {
    transform: translateY(-50%);
    height: 300px;
  }
  #section-03 .textarea.bottom ul li + li {
    margin-top: 20px;
  }
  #section-03 .listFirst {
    margin-bottom: 20px;
  }
  #section-03 li::before {
    content: "";
    width: 100%;
    background: rgba(151,151,151, .10);
    height: 1px;
    display: block;
    position: absolute;
    top: 10px;
    right: 100%;
  }
  #section-03 .textarea.bottom .centery {
    height: 280px;
  }
  #section-03 .textarea.bottom {
    height: calc(50vh - 60px);
    position: relative;
  }
  #section-04 .fa + .fa {
    margin-left: 15px;
  }
  #section-04 .socialDiv {
    width: 145px;
  }

  #section-04 #map-canvas {
    width: 100%;
    margin-top: 0px;
    height: 30vh;
  }
  #section-04 .center-container {
    height: calc(70vh - 60px);
    margin-top: 60px;
  }
  #section-04 .bottomRow .module {
    margin-bottom: 0;
  }
}
