/*.site-content {
	background: url(../img/delete/post-detail-phone.jpg);
	background-position: top center;
	background-repeat: no-repeat;
  background-size: 100% auto !important;
	opacity: 0.6;
}*/


@import url('https://fonts.googleapis.com/css?family=Average|Source+Sans+Pro');

body {
  color: #3e3d3c;
  background: #fbfaf9;
  cursor: none !important;
}
.container-fluid {
  max-width: 1440px;
}
a {
  position: relative;
  color: #151515;
  outline: none;
  /* Transition */
  -webkit-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
  -moz-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
  -ms-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
  -o-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
  transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
}

a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -4px;
  right: -4px;
  height: 0.65em;
  border-top: 19px solid transparent;
  outline: none !important;
  width: 0px;
  /* Transition */
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
h1::selection,
h2::selection,
h3::selection,
a::selection,
p::selection,
span::selection {
  background: #272727;
  color: white;
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
a::-moz-selection,
p::-moz-selection,
span::-moz-selection {
  background: #272727;
  color: white;
}
img::selection,
br::selection {
  background: transparent;
}
img::-moz-selection,
br::-moz-selection {
  background: transparent;
}
/* FILLS  --------------------------------- */
.fill-black {
  background: #3e3d3c;
}

.fill-gray {
  background: #e0e1e2;
}

.fill-white {
  background: #FFFFFF;
}

.fill-blue {
  background: #5148FF;
}

.fill-yellow {
  background: #C9B8A7;
}
.fill-texture {
  background-image: url(../img/assets/texture.png);
  background-size: 250px;
}
.pattern-plus {
  background-image: url(../img/icons/pattern-plus.svg);
}



/* FONTS --------------------------------- */
.text-big-number {
  font-family: "Average";
  text-transform: uppercase;
  font-size: 116px;
  letter-spacing: 19.48px;
  line-height: 100px;
  text-align: right;
  margin-right: -20px;
}

.text-heading {
  font-family: "Average";
  /* text-transform: uppercase; */
  font-size: 38px;
  letter-spacing: 0.74px;
  line-height: 30px;
  margin-bottom: 16px;
  display: inline-block;
  /*transform: rotate(-1deg);*/
}

.text-body {
  font-family: 'Source Sans Pro';
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: none;
  color: #4B4A49;
}

.text-body-num {
  font-family: 'Average';
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: none;
  color: #4B4A49;
}

.text-description-heading {
  font-family: "Average";
  font-size: 140px;
  letter-spacing: 21.48px;
  margin-left: -10px;
  line-height: 154px;
  text-transform: uppercase;
}
.text-description-subHeading {
  font-family: 'Average';
  font-size: 34px;
  letter-spacing: 3.74px;
  line-height: 50px;
  text-transform: uppercase;
}
.text-description-body {
  font-family: "Average";
  font-size: 14px;
  letter-spacing: 1.95px;
  line-height: 25px;
  text-transform: uppercase;
}

.text-footer {
  font-family: "Average";
  font-size: 14px;
  letter-spacing: 1.95px;
  line-height: 30px;
}

.text-link {
  font-family: "Average";
  font-size: 14px;
  letter-spacing: 1.95px;
  line-height: 30px;
}

.text-heading-menu {
  font-family: "Average";
  font-size: 34px;
  letter-spacing: 0.74px;
  line-height: 60px;
  margin-bottom: 8px;
}

/* COLORS --------------------------------- */
.color-black {
  color: #3e3d3c;
}

.color-lightGray {
  color: #73716e;
}

.color-white {
  color: #FFFFFF;
}

.color-blue {
  color: #5148FF;
}


/* BUTTON FILL --------------------------------- */
button {
  background: none;
  border: none;
}
.button-fill {
    color: #ffffff;
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 25px 10px;
}


.button-fill img {
    display: inline-block;
}

/* BUTTON STROKE --------------------------------- */
.button-stroke {
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 45px;
    letter-spacing: 1.43px;
    height: 45px;
    display: inline-block;
    background:transparent;
    outline: none;
}
.button-stroke.color-black {
    border: 1px solid #202020;
}


.button-stroke.color-gray {
    border: 1px solid #9b9b9b;
}
.button-stroke.color-gray:hover,
.button-stroke.color-gray:active {
    background: #b3b3b3;
    border: 1px solid #b3b3b3;
    color: white;
}

.button-stroke.color-white{
    border: 1px solid #FFFFFF;
}

.button-stroke img {
    display: inline-block;
}

/* OPACITY --------------------------------- */
.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-15 {
    opacity: 0.15;
}

/* ROTATES --------------------------------- */
.rotate-45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* TRANSITIONS --------------------------------- */
.transition {
    -webkit-transition: all 300ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -moz-transition: all 300ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -ms-transition: all 300ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -o-transition: all 300ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    transition: all 300ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
}
.transition-400 {
    -webkit-transition: all 400ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -moz-transition: all 400ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -ms-transition: all 400ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -o-transition: all 400ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    transition: all 400ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
}
.transition-600 {
    -webkit-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -moz-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -ms-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    -o-transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
    transition: all 600ms cubic-bezier(0.01, 0.87, 0.82, 1.01);
}

/* CENTERS --------------------------------- */
.center-container {
    position: relative
}
.center-x {}
.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.center-xy {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%));
    -o-transform: translate(-50%, -50%));
    -webkit-transform: translate(-50%, -50%));
}

/* TEXT COLUMNS -----------------------------*/
.columns-2 {
  column-count: 2;
  column-gap: 30px;
}
.columns-3 {
  column-count: 3;
  column-gap: 30px;
}
.columns-4 {
  column-count: 4;
  column-gap: 30px;
}

/* GENERAL --------------------------------- */

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4, address {
    margin: 0;
}


input,
textarea {
    border-radius: 0 !important;
}
.container {
    max-width: 970px;
}

.inputDiv {
    position: relative;
}

/* EXTRAS --------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999999999;
    background: white;
}

.loader img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 70px;
    display: none;
}


/* PROYECTO --------------------------------- */
.image-row {
  margin-bottom: 40px;
}
.image-row:nth-last-child(1) {
  margin-bottom: 0px;
}
.box {
  height: 680px;
  width: 100%;
}
.box .image {
  height: 680px;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
}
.box.mid {
  height: 360px;
}

.box .image.mid {
  height: 360px;
  margin-bottom: 27px;
}

.box.fill-box .text-module {
  padding: 29px 30px;
}
.box .text-module .bottom {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 90px);
}
.image-row:nth-last-child(1) .box .image.mid,
.image-row:nth-last-child(1) .text-module .bottom {
  margin-bottom: 0px;
}
.box.mid + .box {
  margin-top: 40px;
}

/* Wordmark */
.wordmark-div {
  width: 8.33333333%;
  position: fixed;
  height: 100vh;
}
.wordmark {
  position: absolute;
  left: 30px;
  top: 50vh;
  transform: translateY(-50%);
  height: 104vh;
}
.wordmark img {
  height: 100vh;
}
.wordmark-div.unActive {
  position: absolute;
  top: initial;
  transform: none;
  bottom: 0;
}
.wordmark-div.unActive .wordmark {
  top: 48vh;
}
.wordmark-tablet {
  display: none;
}
a.active::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -4px;
  height: 0.65em;
  border-top: 19px solid #272727;
  outline: none !important;
  width: calc(100% + 5px);
  z-index: -1;
}
a.color-white.active::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -4px;
  height: 0.65em;
  border-top: 19px solid white;
  outline: none !important;
  width: calc(100% + 5px);
}
a.active {
  outline: none !important;
  color: white !important;
  z-index: 2;
  padding: 0 4px;
}
a.color-white.active {
  outline: none !important;
  color: white;
}
/* HOVERS */
@media screen and (min-width: 992px) {
    a:hover::after,
    a:focus::after,
    a.active::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: -4px;
      height: 0.65em;
      border-top: 19px solid #272727;
      outline: none !important;
      width: calc(100% + 5px);
      z-index: -1;
    }
    a:hover,
    a:focus,
    a.active,
    a:hover p,
    a:focus p,
    a.active p {
      outline: none !important;
      color: white !important;
      z-index: 2;
      padding: 0 4px;
      color: white;
    }
    /*White links*/

    a.color-white:hover::after,
    a.color-white:focus::after,
    a.color-white.active::after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: -4px;
      height: 0.65em;
      border-top: 19px solid white;
      outline: none !important;
      width: calc(100% + 5px);
    }
    a.color-white:hover,
    a.color-white:focus,
    a.color-white.active {
      outline: none !important;
      color: white;
    }

    *:focus {
        outline: none !important;
        text-decoration: none!important;
    }

    /* LINKS --------------------------------- */
    a.color-blue:hover,
    a.color-blue:focus {
        color: #5148FF;
    }

    .wordmark-div a:hover::after,
    .wordmark-div a:focus::after,
    .wordmark-div a.active::after {
      border-top: none;
      outline: 0 !important;
      width: 0;
      padding:0;
    }
    .wordmark:hover,
    .wordmark:focus,
    .wordmark.active {
      padding: 0;
    }
}
/* MODULE --------------------------------- */
@media screen and (min-width: 992px) {
    .col-md-center {
        float: none;
        display: inline-block;
    }
}
/* MODULE --------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px){
    .col-sm-center {
        float: none;
        display: inline-block;
    }
}
/* DESKTOP 1440 --------------------------*/
@media screen and (min-width: 1441px) {
  .wordmark {
    left: -30px;
  }
}
/* TABLET --------------------------------- */
@media screen and (max-width: 991px) {
  .text-heading {
    font-size: 35px;
    letter-spacing: 0.59px;
    line-height: 45px;
    transform: rotate(0deg);
    padding: 0 5px;
    margin-bottom: 12px;
  }
  .text-body {
    text-transform: none;
  }
  .text-big-number {
    font-size: 83px;
    letter-spacing: 12.55px;
    line-height: 83px;
  }
  .box.fill-box .text-module {
    padding: 10px 30px;
  }
  .text-description-heading {
    font-size: 83px;
    letter-spacing: 12.55px;
    line-height: 83px;
    margin-top: 50px;
    margin-bottom: 12px;
  }
  .text-description-subHeading {
    font-size: 18px;
    letter-spacing: 3.8px;
    line-height: 35px;
  }
  .text-description-body {
    font-size: 14px;
    letter-spacing: 1.95px;
    line-height: 25px;
  }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .wordmark-div {
    display: none;
  }
  .wordmark-tablet {
    display: block;
  }
  .wordmark {
    position: initial;
    right: auto;
    top: initial;
    transform: none;
    height: auto;
  }
  .wordmark img {
    width: 100%;
    margin-top: -23px;
  }
  .box,
  .box .image {
    height: 400px;
    overflow: hidden;
  }
  .box.mid {
    height: 214px;
  }
  .image-row {
      margin-bottom: 30px;
  }
  .box .image.mid {
    margin-bottom: 30px;
    height: 215px;
  }
}
/* PHONE --------------------------------- */
@media screen and (max-width: 767px) {
  .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
  }
  .wordmark img {
    width: 100%;
    margin-top: 7px;
  }
  .box {
    height: 330px;
  }
  .box .image.mid {
    margin-bottom: 30px;
    height: 180px;
  }
  .box.mid {
    height: 180px;
  }

  /* FONTS --------------------------------- */
  .text-big-number {
    font-size: 50px;
    letter-spacing: 6.32px;
    line-height: 65px;
  }

  .text-heading {
    font-size: 32px;
    letter-spacing: 0.54px;
    line-height: 40px;
    padding: 2px 10px 0;
    margin-bottom: 11px;
    height: 40px;
  }

  .text-body {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  .project-list p {
    font-size: 11px;
    letter-spacing: 1.8px;
    line-height: 30px;
  }

  .text-description-heading {
    font-size: 32px;
    letter-spacing: 0.54px;
    line-height: 40px;
    height: 40px;
    margin-left: 0;
  }
  .text-description-subHeading {
    font-size: 17px;
    letter-spacing: 2.37px;
    line-height: 24px;
  }
  .text-description-body {
    font-size: 11px;
    letter-spacing: 1.8px;
    line-height: 20px;
  }

  .text-footer {
    font-family: "Average";
    font-size: 14px;
    letter-spacing: 1.95px;
    line-height: 30px;
  }

  .text-link {
    font-family: "Average";
    font-size: 14px;
    letter-spacing: 1.95px;
    line-height: 30px;
  }

  .text-heading-menu {
    font-size: 28px;
    letter-spacing: 0.54px;
    line-height: 40px;
    margin-bottom: 11px;
    height: 40px;
  }
  a.active::after {
    bottom: 0px;
    border-top: 22px solid #272727;
  }

}
