a,
a:hover,
a:focus,
a:active {
    color: #151515;
    outline: none;
}

/* FILLS  --------------------------------- */
.fill-black {
    background: #151515;
}

.fill-gray {
    background: #A1A1A1;
}

.fill-white {
    background: #FFFFFF;
}



/* FONTS --------------------------------- */
/*.text-heading-section {
    font-family: "DidotLTPro-Italic";
    font-size: 34px;
    letter-spacing: -2.17px;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
}

.text-heading-post {
    font-family: 'PFRegalDisplayPro-Reg';
    font-size: 28px;
    letter-spacing: -0.29px;
    line-height: 35px;
}

.text-heading-subPost {
    font-family: 'PFRegalDisplayPro-Reg';
    font-size: 18px;
    color: #151515;
    letter-spacing: -0.22px;
    line-height: 24px;
}

.text-subHeading-post {
    font-family: "Apercu-Regular";
    font-size: 11px;
    color: #A1A1A1;
    letter-spacing: 1.43px;
    line-height: 20px;
    text-transform: uppercase;
}
.text-phrase {
    font-family: 'PFRegalDisplayPro-Reg';
    font-size: 26px;
    letter-spacing: -0.36px;
    line-height: 30px;
}
.text-body-serif {
    font-family: "PFRegalTextPro-RegularA";
    font-size: 16px;
    color: #292929;
    letter-spacing: 0.25px;
    line-height: 22px;
}

.text-body-serif + .text-body-serif {
    margin-top: 22px;
}

.text-body {
    font-family: "Apercu-Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.22px;
}

.link-heading-section {
    font-family: "Apercu-Regular";
    font-size: 11px;
    letter-spacing: 1.43px;
    line-height: 29px;
    text-transform: uppercase;
    border: 1px solid #151515;
    padding: 0 29px;
    display: inline-block;
    float: right;
    position: relative;
    text-align: center;
}


.text-link {
    font-family: "Apercu-Regular";
    font-size: 11px;
    letter-spacing: 1.43px;
    line-height: 24px;
    text-transform: uppercase;
}*/
.text-link.color-white  {
    color: white;
}

/* COLORS --------------------------------- */
.color-black {
    color: #151515;
}

.color-gray {
    color: #A1A1A1;
}

.color-white {
    color: #FFFFFF;
}

/* BLUEDOTS LINK ------------------------------*/
.blueDots-link a.text-link {
    position: relative;
}
.blueDots-link a.text-link::before {
    opacity: 0;
    content:"●";
    color: transparent;
    font-size: 14px;
    position: absolute;
    left: calc(50% - 5px);
    top: 18px;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.blueDots-link a.text-link.active::before {
    color: #f56e71;
    opacity: 1;
}
a.text-link.active.dotRed::before {
    color: #f56e71 !important;
    opacity: 1;
}
a.text-link.active.dotBlue::before {
    color: #BED5F3 !important;
    opacity: 1;
}
a.text-link.active.dotPink::before {
    color: #F9BDC6 !important;
    opacity: 1;
}
a.text-link.active.dotGray::before {
    color: #575753 !important;
    opacity: 1;
}
a.text-link.active.dotBeige::before {
    color: #d2cbc2 !important;
    opacity: 1;
}


/* BUTTON FILL --------------------------------- */
button {
    background: none;
    border: none;
}
button:hover {
    background: none;
    border: 1px solid transparent;
}
.button-fill {
    color: #ffffff;
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 25px 10px;
}


.button-fill img {
    display: inline-block;
}

/* BUTTON STROKE --------------------------------- */
.button-stroke {
    text-align: center;
    min-width: 145px;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 45px;
    letter-spacing: 1.43px;
    height: 45px;
    display: inline-block;
    background:transparent;
    outline: none;
    cursor: pointer;
}
.button-stroke.color-black {
    border: 1px solid #202020;
}


.button-stroke.color-gray {
    border: 1px solid #9b9b9b;
}
.button-stroke.color-gray:hover,
.button-stroke.color-gray:active {
    background: #b3b3b3;
    border: 1px solid #b3b3b3;
    color: white;
}

.button-stroke.color-white{
    border: 1px solid #FFFFFF;
}

.button-stroke img {
    display: inline-block;
}

/* OPACITY --------------------------------- */
.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-15 {
    opacity: 0.15;
}

/* ROTATES --------------------------------- */
.rotate-45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* TRANSITIONS --------------------------------- */
.transition {
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.transition-600 {
    -webkit-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

/* CENTERS --------------------------------- */
.center-container {
    position: relative
}
.center-x {}
.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.center-xy {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%));
    -o-transform: translate(-50%, -50%));
    -webkit-transform: translate(-50%, -50%));
}



/* GENERAL --------------------------------- */
body {
    color: #2d2d2d;
    font-family: "Apercu-Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.22px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4, address {
    margin: 0;
}


p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
li::selection,
a::selection,
span::selection,
address::selection {
    background: #FE8587 !important;
    color: white;
}

input,
textarea {
    border-radius: 0 !important;
}
.container {
    max-width: 970px;
}

.inputDiv {
    position: relative;
}

/* EXTRAS --------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999999999;
    background: white;
}
.loader .slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999999999;
}
.loader .slide {
    background-image: -webkit-linear-gradient(bottom left, #EF5D61 1%, #FE8587 100%);
    background-image: -o-linear-gradient(bottom left, #EF5D61 1%, #FE8587 100%);
    background-image: linear-gradient(to top right, #EF5D61 1%, #FE8587 100%);
}
.loader .slide.fill-blue {
    background-image: -webkit-linear-gradient(138deg, #D6E2F2 0%, #B4CFF3 100%);
    background-image: -o-linear-gradient(138deg, #D6E2F2 0%, #B4CFF3 100%);
    background-image: linear-gradient(228deg, #D6E2F2 0%, #B4CFF3 100%);
}
.loader .slide.fill-pink {
    background-image: -webkit-linear-gradient(134deg, #FFDDE2 0%, #F8BBC4 99%);
    background-image: -o-linear-gradient(134deg, #FFDDE2 0%, #F8BBC4 99%);
    background-image: linear-gradient(224deg, #FFDDE2 0%, #F8BBC4 99%);
}
.loader .slide.fill-gray {
    background-image: -webkit-linear-gradient(138deg, #595955 0%, #444440 100%);
    background-image: -o-linear-gradient(138deg, #595955 0%, #444440 100%);
    background-image: linear-gradient(228deg, #595955 0%, #444440 100%);
}
.loader .slide.fill-beige {
    background-image: -webkit-linear-gradient(138deg, #DBD5CD 0%, #C6BEB4 100%);
    background-image: -o-linear-gradient(138deg, #DBD5CD 0%, #C6BEB4 100%);
    background-image: linear-gradient(228deg, #DBD5CD 0%, #C6BEB4 100%);
}

.loader img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 70px;
    display: none;
}
.line-gray {
    width: 100%;
    height: 1px;
    background: #D8D8D8;
    display: block;
    margin: 5px 0;
}

.section-heading-div {
    border-bottom: 1px solid #151515;
    padding-bottom: 11px;
    margin-bottom: 53px;
}


.gradientBox {
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0;
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#FF8C91), to(#FFC0C4))) 1;
    -webkit-border-image:
      -webkit-linear-gradient(#FF8C91, #FFC0C4) 1;
    -moz-border-image:
      -moz-linear-gradient(#FF8C91, #FFC0C4) 1;
    -o-border-image:
      -o-linear-gradient(#FF8C91, #FFC0C4) 1;
    border-image:
      linear-gradient(to right, #FF8C91, #FFC0C4) 1;


    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    height: calc(100% + 2px );
    width: calc(100% + 2px);
}
.social-container > a,
.social-container > span {
    height: 39px;
    width: 39px;
    display: block;
    position: relative;
    cursor: pointer;
}

.social-container span.active {
    padding: 0 !important;
}

.social-container a + a,
.social-container a + span {
    margin-top: 13px;
}
.social-container span.dots {
    border-radius: 50%;
    border: 1px solid #151515;
    padding: 8px 0 0 0px;
    vertical-align: top;
    text-align: center;
}
.social-container span.dots.active {
    border-radius: 50% 50% 0 0;
    border: 1px solid #151515;
    padding: 8px 0 0 0 !important;
}
.social-container span.dots img {
    top: 16px;
    left: 11px;
}

.hidden-elements {
    position: absolute;
    left: -1px;
    width: calc(100% + 2px );
    top: 8px;
    height: auto;
    overflow: hidden;
    visibility: hidden;
}
.social-block:nth-child(1) {
    margin-top: 20px;
    border-top: 1px solid transparent;
 }
.social-block {
    border: 1px solid #151515;
    height: 39px;
    text-align: center;
    padding-top: 10px;
    opacity: 0;

}
.social-block + .social-block {
    border-top: 0;
}
.social-block .fa-tumblr {
    margin-left: -2px;
}


.social-container span.dots.active .social-block {
    opacity: 1;
}
.social-container span.dots.active .hidden-elements {
    visibility: visible;
    height: auto;
    top: 16px;
    opacity:1;
}
/* RELATED POST ----------------------------*/
.relatedPost img {
    width: 100%;
    /*height: 160px;*/
    height: auto;
}
.relatedPost .text-subHeading-post {
    margin-top: 16px;
}
.relatedPost .text-heading-subPost {
    margin-top: 4px;
}

.relatedPost + .acercaDe {
    margin-top: 82px;
}
/*-- PAGINATION GLOBAL --*/
.pagination-global {
    margin: 0 auto;
    text-align: center;
}
.pagination-global li {
    font-family: "Apercu-Regular";
    font-size: 11px;
    color: #8F8F8F;
    letter-spacing: 0.99px;
    display: inline-block;
    cursor: pointer;
}
.pagination-global li + li {
    margin-left: 10px;
}
.pagination-global li .line {
    width: 0;
    height: 1px;
    background: #151515;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
}
.pagination-global li.active {
    color: #151515;
}
.pagination-global li.active .line {
    width: 70px;
    height: 1px;
    background: #151515;
}


.text-heading-text {
    position: relative;
    margin-bottom: 10px;
}
.line-section {
    width: 100%;
    height: 1px;
    background: #151515;
    margin-bottom: 53px;
}
.text-heading-text p {
    margin-top: 16px;
}
.text-heading-text a {
    margin-top: 1px;
}
#postContainer .col-md-3 {
    vertical-align: top !important;
    float: none;
    display: inline-flex;
    margin-bottom: 57px;
}
#postContainer .postRow {
    padding-right: 15px;
}

.site {
    min-height: calc(100vh - 303px);
}

.pagination-global a {
    font-family: "Apercu-Regular";
    font-size: 11px;
    color: #8F8F8F;
    letter-spacing: 0.99px;
    display: inline-block;
    cursor: pointer;
}
.pagination-global a + a {
    margin-left: 10px;
}
.pagination-global a .line {
    width: 0;
    height: 1px;
    background: #151515;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
}
.pagination-global a.active {
    color: #151515;
}
.pagination-global a.active .line {
    width: 70px;
    height: 1px;
    background: #151515;
}
/* Estos hover / active / focus tienen uso en 768 y 320 */
.social-container span.active img.hover {
    opacity: 1;
}
.social-container a:hover,
.social-container a:active,
.social-container a:focus,
.social-container span:hover,
.social-container span:active,
.social-container span:focus,
.social-container span.active {
    padding: 0 !important;
}
.social-container a:hover img,
.social-container a:active img,
.social-container a:focus img {
    opacity: 0;
}
.social-container a:hover img.hover,
.social-container a:active img.hover,
.social-container a:focus img.hover,
.social-container span:hover img.hover,
.social-container span:active img.hover,
.social-container span:focus img.hover,
.social-container span.active img.hover {
    opacity: 1;
}
.social-container span.dots:hover,
.social-container span.dots:active,
.social-container span.dots:focus,
.social-container span.dots.active {
    border-radius: 50% 50% 0 0;
    border: 1px solid #151515;
    padding: 8px 0 0 0 !important;
}
.social-container span.dots:hover .social-block,
.social-container span.dots:active .social-block,
.social-container span.dots:focus .social-block,
.social-container span.dots.active .social-block {
    opacity: 1;
}
.social-block a:hover,
.social-block a:active,
.social-block a:focus {
    color: #FE8587;
}
.social-container span.dots:hover .hidden-elements,
.social-container span.dots:active .hidden-elements,
.social-container span.dots:focus .hidden-elements,
.social-container span.dots.active .hidden-elements {
    visibility: visible;
    height: auto;
    top: 16px;
    opacity:1;
}

/* HOVERS */
@media screen and (min-width: 992px) {
    .link-heading-section:hover {
          color: #FF8C91;
    }
    .blueDots-link a.text-link:hover::before {
        color: #f56e71;
        opacity: 1;
    }
    .dotRed:hover::before{
        color: #f56e71 !important;
        opacity: 1;
    }
    .dotBlue:hover::before {
        color: #BED5F3 !important;
        opacity: 1;
    }
    .dotPink:hover::before{
        color: #F9BDC6 !important;
        opacity: 1;
    }
    .dotGray:hover::before, {
        color: #575753 !important;
        opacity: 1;
    }
    .dotBeige:hover::before {
        color: #d2cbc2 !important;
        opacity: 1;
    }
    a, a:hover, a:focus {
        color: #2d2d2d;
        text-decoration: none;
        outline: none !important;

        /* Transition */
        -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }
    *:focus {
        outline: none;
    }
    *:hover > .gradientBox,
    *:active > .gradientBox {
        opacity: 1;
    }

    .pagination-global li:hover {
        color: #151515;
    }
    .pagination-global a:hover {
        color: #151515;
    }

    .button-fill.fill-gray:hover,
    .button-fill.fill-gray:active {
        background: #b3b3b3;
    }

    .button-fill.fill-white:hover,
    .button-fill.fill-white:active {
        background: #d4d4d4;
    }
    .button-stroke.color-white:hover,
    .button-stroke.color-white:active {
        background: white;
        border: 1px solid white;
        color: #FE8587;
    }

    /* LINKS --------------------------------- */
    a.color-black:hover,
    a.color-black:focus {
        color: #4b4b4b;
    }

    a.color-gray:hover,
    a.color-gray:focus {
        color: #b3b3b3;
    }

    a.color-white:hover,
    a.color-white:focus {
        color: #d4d4d4;
    }
    .link-heading-section:active {
        color: #FF8C91 !important;
    }
    .link-heading-section:active .gradientBox {
      opacity: 1;
    }
    /* SOCIAL CONTAINER -------------------------- */
    .social-container a img.hover,
    .social-container span img.hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }



}
/* MODULE --------------------------------- */
@media screen and (min-width: 992px) {
    .col-md-center {
        float: none;
        display: inline-block;
    }
}
/* MODULE --------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px){
    .col-sm-center {
        float: none;
        display: inline-block;
    }
}
/* MODULE --------------------------------- */
@media screen and (min-width: 768px) {
    .col-bottom {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}
@media screen and (max-width: 991px) {
    a,
    a:hover,
    a:focus,
    a:active {
     text-decoration: none;
    }
    .site {
        min-height: calc(100vh - 300px);
    }
    .text-center-mobile {
        text-align: center;
    }
    .text-heading-text p {
        margin-top: 10px;
    }
    .container {
        max-width: initial;
        padding: 0 40px;
    }
    /* FONTS --------------------------------- */
    .text-heading-section {
        font-size: 28px;
        letter-spacing: -1.17px;
        line-height: 34px;
    }
    .text-heading-post {
        font-family: 'PFRegalDisplayPro-Reg';
        font-size: 28px;
        letter-spacing: -0.29px;
        line-height: 35px;
    }

    .text-heading-subPost {
        font-size: 20px;
        letter-spacing: 0.25px;
        line-height: 26px;
    }

    .text-subHeading-post {
        font-family: "Apercu-Regular";
        font-size: 11px;
        letter-spacing: 1.43px;
        line-height: 20px;
        text-transform: uppercase;
    }
    .text-phrase {
        font-size: 22px;
        letter-spacing: -0.31px;
        line-height: 27px;
    }
    .text-body-serif {
        font-size: 18px;
        letter-spacing: 0.28px;
        line-height: 24px;
    }

    .text-body-serif + .text-body-serif {
        margin-top: 22px;
    }

    .text-body {
        font-family: "Apercu-Regular";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.22px;
    }

    a.link-heading-section {
        width: 100%;
        text-align: center;
        padding: 0;
        line-height: 29px;
    }
    .text-link {
        font-family: "Apercu-Regular";
        font-size: 11px;
        letter-spacing: 1.43px;
        line-height: 24px;
        text-transform: uppercase;
    }
    .relatedPost .text-subHeading-post {
        margin-top: 12px;
    }

    .relatedPost .text-heading-subPost {
        margin-top: 4px;
    }
    .relatedPost img {
        width: 100%;
        /*height: 155px;*/
        height: auto;
        display: block;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-link.button-stroke {
        line-height: 19px;
    }
    *:hover > .gradientBox {
        opacity: 0;
    }
    *.hover {
      display: none;
    }
    .social-container a:hover img,
    .social-container a:active img,
    .social-container a:focus img {
      opacity: 1;
    }

}

@media screen and (max-width: 767px) {
    .site {
        min-height: calc(100vh - 385px);
    }
    #postContainer .col-md-3 {
        vertical-align: top !important;
        float: none;
        display: block;
        margin-bottom: 57px;
    }
    #postContainer .postRow {
        padding-right: 0;
    }
    .relatedPost img {
        width: 100%;
        height: auto;
        display: block;
    }
    .col-xs-center {
        float: none;
        display: inline-block;
    }
    .container {
        max-width: initial;
        padding: 0 15px;
    }

    .loader img {
        width: 160px;
    }
    .text-heading-text {
        position: relative;
        margin-bottom: 12px;
    }
    .line-section {
        margin-bottom: 48px;
    }
    /* FONTS --------------------------------- */
    .text-heading-section {
        font-size: 28px;
        letter-spacing: -1.17px;
        line-height: 34px;
    }
    .text-heading-post {
        font-size: 24px;
        letter-spacing: -0.25px;
        line-height: 30px;
    }

    .text-heading-subPost {
        font-size: 20px;
        letter-spacing: 0.25px;
        line-height: 26px;
    }

    .text-subHeading-post {
        font-family: "Apercu-Regular";
        font-size: 11px;
        color: #A1A1A1;
        letter-spacing: 1.43px;
        line-height: 20px;
        text-transform: uppercase;
    }
    .relatedPost .text-subHeading-post {
        margin-top: 18px;
    }
    .text-phrase {
        font-size: 22px;
        letter-spacing: -0.31px;
        line-height: 27px;
    }
    .relatedPost {
        margin-bottom: 54px;
    }
    .relatedPost .text-heading-subPost {
        margin-top: 6px;
    }
    .text-body-serif {
        font-size: 16px;
        letter-spacing: 0.25px;
        line-height: 22px;
    }

    .text-body-serif + .text-body-serif {
        margin-top: 22px;
    }

    .text-body {
        font-family: "Apercu-Regular";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.22px;
    }
    .link-heading-section {
        display: none;
    }
    .text-heading-subPost {
        font-size: 18px;
        letter-spacing: 0.22px;
        line-height: 24px;
    }
    .blueDots-link a.text-link::before,
    .blueDots-link a.text-link::before {
       font-size: 8px !important;
    }
    .blueDots-link a.text-link.active::before {
       font-size: 8px !important;
    }
    a.text-link.active.dotRed::before {
       font-size: 8px !important;
    }
    a.text-link.active.dotBlue::before {
       font-size: 8px !important;
    }
    a.text-link.active.dotPink::before {
       font-size: 8px !important;
    }
    a.text-link.active.dotGray::before {
        font-size: 8px !important;
    }
    a.text-link.active.dotBeige::before {
       font-size: 8px !important;
    }
}
